<article class="gh-card {{post_class}}">
    <a class="gh-card-link" href="{{url}}">
    
        <div class="gh-card-wrapper">
            {{#if primary_tag}}
                <p class="gh-card-tag">{{primary_tag.name}}</p>
            {{/if}}
            <h3 class="gh-card-title is-title">{{title}}</h3>
            {{#if custom_excerpt}}
                <p class="gh-card-excerpt is-body">{{custom_excerpt}}</p>
            {{/if}}
            {{#unless custom_excerpt}}
                {{#if excerpt}}
                    <p class="gh-card-excerpt is-body">{{excerpt}}</p>
                {{/if}}
            {{/unless}}
        </div>
    </a>
</article>
