<header id="gh-navigation" class="gh-navigation gh-outer">
    <div class="gh-navigation-inner gh-inner">
        <nav class="gh-navigation-menu">
            <div class="nav-copyright">©2026</div>
            <div class="nav-line">
                <hr>
            </div>
            {{!-- Homepage: show only secondary nav (GH, LI) --}}
            {{#is "home"}}
            {{navigation type="secondary"}}
            {{/is}}

            {{!-- Work page: show only primary nav (HOME) --}}
            {{#is "page"}}
            {{navigation}}
            {{/is}}

            {{!-- Posts: show Work link from primary nav --}}
            {{#is "post"}}
                {{#get "pages" filter="slug:work" limit="1"}}
                    {{#foreach pages}}
                        <ul class="nav">
                            <li><a href="{{url}}">{{title}}</a></li>
                        </ul>
                    {{/foreach}}
                {{/get}}
            {{/is}}

            {{!-- Contact page: show only primary nav (HOME) --}}
            {{#is "page"}}
            {{#has slug="contact"}}
            {{navigation}}
            {{/has}}
            {{/is}}

            {{!-- About page: show only primary nav (HOME) --}}
            {{#is "page"}}
            {{#has slug="about"}}
            {{navigation}}
            {{/has}}
            {{/is}}
        </nav>
    </div>
</header>